rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() { return request.auth != null; }

    match /projects/{projectId} {
      allow read: if resource.data.status != "draft" || isAdmin();
      allow create, update, delete: if isAdmin();
    }

    match /certificates/{certificateId} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }

    match /messages/{messageId} {
      allow create: if request.resource.data.name is string
        && request.resource.data.name.size() >= 2
        && request.resource.data.name.size() <= 100
        && request.resource.data.email is string
        && request.resource.data.email.size() <= 200
        && request.resource.data.message is string
        && request.resource.data.message.size() >= 20
        && request.resource.data.message.size() <= 2000
        && request.resource.data.status == "unread";
      allow read, update, delete: if isAdmin();
    }

    match /analytics/views {
      allow create, update: if request.resource.data.count is number;
      allow read: if isAdmin();
    }

    match /analytics_events/{eventId} {
      allow create: if request.resource.data.name is string
        && request.resource.data.name.size() <= 80;
      allow read: if isAdmin();
    }
  }
}
